* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



body {

    background-color: #f2f2f2;
    width: 80%;
    margin: auto;
}

/* Header */
.header {

    background-color: #2c3e50;
    color: white;
    text-align:left;
    padding: 30px;
    padding-left: 40px;
}

.header p {

    font-size: 14px;
    margin-top: 10px;
}

/* Common box */
.box {

    background: white;
    margin: 20px;
    padding: 25px; 
    border-radius: 8px;
}

/* Education */
.education {
    background-color: #ecf0f1;
    font-size:50px;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
}

/* Skills */
.skills  {
    list-style: none;
    background-color: #ecf0f1;
    border-radius: 6px;
}



.skills li {
    /* display: inline-block; */
    /* background: #3498db; */
    color: black;
    padding: 8px 12px;
    margin-left: 20px;
    border-radius: 5px;
}

/* Projects */
.project {
    background-color: black;
    padding: 25px;
    border-radius: 6px;
    margin-top: 10px;
}


.project ul {

    margin-top:10px;
    text-align: justify;
}

.accomplishments {
    background-color: #ecf0f1;
    padding: 12px;
    padding-left:27px;
    margin-top: 10px;
    border-radius: 6px;

}

.languages {
    background-color: #ecf0f1;
    padding: 12px;
    padding-left:27px;
    margin-top: 10px;
    border-radius: 6px;

}

.hobbie {
    background-color: #ecf0f1;
    padding: 12px;
    padding-left:27px;
    margin-top: 10px;
    border-radius: 6px;

}

/* Footer */
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 600px) {
    body {
        width: 95%;
    }
     .header h1 {
        font-size: 24px;
    }
}

